
body{
background: rgb(64, 195, 228);
font: normal 15pt arial;
}

header{
color: white;
text-align: center;
}
section{
background: white;
border-radius: 10px; /*  Raio da borda*/
padding: 15px; /* espaço*/
width: 500px; /*largura fixa*/
margin: auto; /* centralizar*/
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}
select#flista{
width: 150px;
}

div{
    text-align: center;
    padding: 8px;
}
footer{
color:  white;
text-align: center;
font-style: italic;
}